@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #61A0BD;
}

header h1 {
    font-style: 'Lato', sans-serif;
    font-size: 80pt;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #3D3D3D;
    font-weight: 100;
}

nav {
    background-color: #D6D6D6;
    border: solid black;
    border-width: 1px 0;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    list-style: none;
  

}

.nav-bar a {
    color: #3D3D3D;
    font-style: 'Lato', sans-serif;
    font-size: 25pt;
    text-decoration: none;
    /* padding: 10px; */
}



body {
    background-color: white;

}

#icon_container {
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
}

.icon {
    color: #61A0BD;
    font-size: 90px;
    padding: 10px 5px;
    width: 100%;
    border: 2px solid black;
}

#icon_container p {
    max-width: 15ch;
    text-align: center;
} 
